  html {
    scroll-behavior: smooth;
  }
  
  <style>
  * {
      box-sizing: border-box;
  }

  /* CSS property for header section */
  .header {
      background-color: lavenderblush;
      padding: 15px;
      text-align: center;
  }

  /* CSS property for navigation menu */
  .nav_menu {
      overflow: hidden;
      background-color: #333;
  }

  .nav_menu a {
      float: left;
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
  }

  .nav_menu a:hover {
      background-color: white;
      color: lavenderblush;
  }

  /* CSS property for content section */
  .columnA,
  .columnB,
  .columnC {
      float: left;
      width: 31%;
      padding: 15px;
      text-align: justify;
  }

  h2 {
      color: lavenderblush;
      text-align: center;
  }

  /* Media query to set website layout
      according to screen size */
  @media screen and (max-width:600px) {

      .columnA,
      .columnB,
      .columnC {
          width: 50%;
      }
  }

  @media screen and (max-width:400px) {

      .columnA,
      .columnB,
      .columnC {
          width: 100%;
      }
  }
</style>

.hero {
    position: relative;
    width: 100vw;
    height: 100vh;
}
.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(https://images.app.goo.gl/nmX8SPx8PGGm1sig9);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    filter: brightness(60%);
}
.hero-content {
    position: relative;
}

.hero {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-content {
  position: relative; 
  font-family: "Monserrat", sans-serif;
  color: white;
  text-align: center;
  margin: 0.625rem;
}
.hero-title {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 0;
}
.hero-subtitle {
  font-size: 2rem;
  font-weight: 200;
  margin-top: 1rem;
}

.hero-button {
  background-color: #ae2d59;
  color: white;
  border: 1px solid #cb376a;
  margin-top: 5rem;
  padding: 0.9375rem 1.875rem;
  font-family: "Monserrat", sans-serif;
  font-size: 1.125rem;
  font-weight: 200;
  cursor: pointer;
}
.hero-button:hover {
  background-color: #cb376a;
  border: 1px solid #db7598;
}
  





