body {
  padding: 0% 3% 10% 3%;
  text-align: center;
  font-family: Arial, sans-serif;
  background-image: linear-gradient(to bottom, yellow, yellowgreen);
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

header h1 {
  font-size: 2.5rem;
}

/* Style the main content */
main {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.blog-card {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  padding: 20px;
  width: calc(33.33% - 20px); /* Set the width for each card */
  box-sizing: border-box;
  transition: transform 0.2s ease-in-out;
}

.blog-card:hover {
  transform: scale(1.05); /* Add a hover effect to scale the card slightly */
}

.h2-subheading {
  color: #666;
  font-size: 1.2rem;
}

.h2-default {
  font-size: 1.5rem;
  margin-top: 10px;
}

/* Style the About Me and Contact sections */
section {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin-bottom: 20px;
}

h2 {
  font-size: 1.8rem;
  color: #333;
  margin-bottom: 10px;
}

p {
  font-size: 1.2rem;
  color: #666;
}

a {
  color: #0078d4;
  text-decoration: none;
}

/* Style the footer */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}

@media screen and (max-width: 768px) {
  header h1 {
      font-size: 2rem;
  }
  
  nav li {
      margin-right: 10px;
  }
  
  main {
      padding: 10px;
  }
}



