body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #24292e;
  color: #fff;
  text-align: center;
  padding: 1rem 0;
}

header h1 {
  font-size: 2.5rem;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

nav li {
  display: inline;
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #24292e;
}

main {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

section {
  margin-bottom: 30px;
}

h2 {
  font-size: 1.5rem;
  color: #24292e;
  padding: 10px; 
}

p {
  line-height: 1.6;
}

footer {
  background-color: #24292e;
  color: #fff;
  text-align: center;
  padding: 1rem 0;
}

footer p {
  font-size: 0.9rem;
}

@media screen and (max-width: 768px) {
  header h1 {
      font-size: 2rem;
  }
  
  nav li {
      margin-right: 10px;
  }
  
  main {
      padding: 10px;
  }
}



