  html {
    scroll-behavior: smooth;
  }
  
  body {
    background-color: lavender;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: var(--default-color);
    font-family: 'Lora', serif;
    font-size: 18px;
  }
  

  body {
    margin: 0;
    padding: 0;
}
.hero {
    position: relative;
    width: 100vw;
    height: 100vh;
}
.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(https://images.app.goo.gl/nmX8SPx8PGGm1sig9);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    filter: brightness(60%);
}
.hero-content {
    position: relative;
}

.hero {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-content {
  position: relative; 
  font-family: "Monserrat", sans-serif;
  color: white;
  text-align: center;
  margin: 0.625rem;
}
.hero-title {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 0;
}
.hero-subtitle {
  font-size: 2rem;
  font-weight: 200;
  margin-top: 1rem;
}

.hero-button {
  background-color: #ae2d59;
  color: white;
  border: 1px solid #cb376a;
  margin-top: 5rem;
  padding: 0.9375rem 1.875rem;
  font-family: "Monserrat", sans-serif;
  font-size: 1.125rem;
  font-weight: 200;
  cursor: pointer;
}
.hero-button:hover {
  background-color: #cb376a;
  border: 1px solid #db7598;
}
  
  code {
    color: var(--teal);
    background-color: lightblue;
    padding-inline-start: 4px;
    padding-inline-end: 4px;
  }


header h1 {
    margin: 0;
    display: inline-block;
    background: lavender;
    color: lightskyblue;
    margin: 15%;
    padding: 15px 15px 0 15px;

}

.header {		
  top:0;
  z-index:0;
  width:100%;
  z-index:999;
  position:absolute;
  padding-top:30px;
  z-index: 999;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  transition: all 0.8s;
  -webkit-transform: translateY(0%);
  -moz-transform: translateY(0%);
  transform: translateY(0%);
}

.header.affix {
  background:#000;
  width:100%;
  top:0;
  right:0;
  padding:0;
  margin:0;
  position: fixed;
  z-index: 9999;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  transition: all 0.8s;
}

nav ul {
    margin: 0;
    padding: 0px 0px 0px 15px;
    display: inline;
    
}

nav ul li {
    background: black;
    color: lightskyblue;
    display: inline-block;
    list-style-type: none;
    padding: 0px 15px 0px 15px;

}

nav ul lia a {
    color: lightskyblue;
}

p {
  background: black;
  color: lightskyblue;
  padding: 0px 15px 0px 15px;
}

/* styles for desktop devices */
@media only screen and (min-width: 992px) {
  body {
    font-size: 16px;
    width: 80%;
    margin: auto;
  }
}

/* styles for tablet devices */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  body {
    font-size: 14px;
    width: 90%;
    margin: auto;
  }
}

/* styles for mobile devices */
@media only screen and (max-width: 767px) {
  body {
    font-size: 12px;
    width: 100%;
    margin: 0;
  }
}

