body: {
    margin: 0;
    
}


header {
    background: lavender;
    color: teal;
    margin: 30%;
    padding: 15px 15px 0 15px;
}

header h1 {
    margin: 0;
    display: inline-block;

}

nav ul {
    margin: 0;
    padding: 0 0 0 15px;
    display: inline;
    
}

nav ul li {
    background: black;
    color: grey;
    display: inline-block;
    list-style-type: none;
    padding: 5px 15px;

}

nav ul lia a {
    color: grey;
}